@page "/counter"
@inject HttpClient http;

@using WebGloser.Model;

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="Test">Test</button>

@if (lst == null)
{
    <p><em>Click test to load ... </em></p>
}
else
{
    <table class="blueTable">
        <thead>
            <tr>
                <th>English</th>
                <th>Spanish</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var w in lst)
            {
                <tr>
                    <td>@w.English</td>
                    <td>@w.Spanish</td>      
                </tr>
            }
        </tbody>
    </table>
}

<h1>@strMsg</h1>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    string strMsg;

    private List<TWord> lst;
    protected async Task Test()
    {
        strMsg = "Start!!!";

        try
        {
            //GetStringAsync("https://localhost:44331/Gloser/GetDefaultDictionary");
            var aWord = await http.GetFromJsonAsync<TWord[]>("https://localhost:44331/Gloser/GetDefaultDictionary");
            lst = aWord.ToList();
            StateHasChanged();
        }
        catch (Exception e)
        {
            strMsg = e.Message;
        }

    }
}


